@{
    ViewData["Title"] = "Home Page";
    
}

<div class="row logo">

    <img class="center-block" src="~/images/Logo Cicero.png" />

</div>
<div class="row">
    <button class="btn btn-block btn-info">Presenta tu reclamo</button>
    <button class="btn btn-block btn-info">Consulta tu reclamo</button>
    <button class="btn btn-block btn-danger">Chat en vivo</button>
</div>
