@{
    ViewData["Title"] = "Home Page";
    
}


<div ng-hide="hidemain" class="row">

    <img class="center-block logo" src="~/images/Logo Cicero.png" />
    <button ng-click="hidemain=true;showreclamo=true;" class="btn btn-block btn-info">Presenta tu reclamo</button>
    <button class="btn btn-block btn-info">Consulta tu reclamo</button>
    <button class="btn btn-block btn-danger">Chat en vivo</button>
</div>

<div ng-show="showreclamo" class="row">
{{firstName}}
</div>

<div class="row">
 {{lastName}}
</div>

