
@{
    ViewData["Title"] = "Respuesta Enviada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-div">

    <a asp-action="Index" asp-controller="Home"><span style="float:left;"><i class="glyphicon glyphicon-arrow-left white"></i></span></a>


    <b>
        Gracias por usar Cicero
    </b>
</div>
<br />
<p style="text-align:center;">@ViewBag.exito <br />
    <br />
    
    <a asp-action="Index" asp-controller="Home" class="btn btn-block btn-cicero"><b>Regresar a Inicio</b></a>
    </p>

