
@{
    ViewData["Title"] = "Revisar Expediente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">

    <div class="top-div">

        <a asp-action="Index" asp-controller="Home"><span style="float:left;"><i class="glyphicon glyphicon-arrow-left white"></i></span></a>


        <b>Revisar reclamo</b>


    </div>
    <div class="form-group">
        @using (Html.BeginForm("RevisarExpediente", "Home", FormMethod.Post))
        {
            <input class="form-control" type="text" id="numExpediente" name="numero_expediente" placeholder="Ingresa número de expediente" />

            <br />
            <div style="margin-left:50px; margin-right:50px;">
                <button type="submit" class="btn btn-block btn-cicero"><b>Revisar</b></button>
            </div>
        }

    </div>
    <br />
    <p style="text-align:center;">@ViewBag.Mensaje</p>


</div>